h1 {
    color: #333;
    text-align: center;
}

#header-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid orange;
    text-align: center;
}
.content-container {
    padding: 20px;
    text-align: center;
}

.highlight-text {
    font-style: italic;
    margin-bottom: 10px; 
}

a:hover {
    color: #bf5700;
}